body {
   background-image: url(https://www.star-registration.com/cdn/shop/articles/00_Was-ist-ein-Stern.jpg?v=1684992078)
}

html{
  height: 90%;
  width: 90%;
}

#myCanvas {
  border-radius: 30px;
  border: 15px double rgb(55, 0, 255);
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color:rgb(100,64,151);
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 60px;
  border-radius: 40px;
}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 30px;
  border: 15px double rgb(55, 0, 255);
}

h2{
  color: rgb(55, 0, 255);
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}