body {
   background-image: url(https://www.star-registration.com/cdn/shop/articles/00_Was-ist-ein-Stern.jpg?v=1684992078)
}

html{
  height: 90%;
  width: 90%;
}

#myCanvas {
  border-radius: 40px;
  border: 10px dotted rgb(122, 89, 168);
}

.container{
  display:flex;
  flex-wrap: wrap;
  background-color:rgba(55, 0, 255, 0.393);
  justify-content:space-evenly;
  align-items: flex-start;
  padding-bottom: 60px;
  border-radius: 40px;
}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 40px;
  border: 10px dotted rgb(122, 89, 168);
}

h2{
  color: rgb(122, 89, 168);
}

#start{
  text-align: left;
  font-family: "Sigmar One", sans-serif;
}

#end{
  text-align: right;
  font-family: "Sigmar One", sans-serif;
}


